Source: ignition-gazebo7
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               doxygen,
               pkg-config,
               debhelper (>= 11),
               dh-python,
               libtinyxml2-dev,
               libignition-tools-dev,
               libignition-cmake2-dev (>= 2.8.0),
               libignition-common5-av-dev,
               libignition-common5-profiler-dev,
               libignition-common5-events-dev,
               libignition-fuel-tools8-dev,
               libignition-gui7-dev,
               libignition-math7-dev,
               libignition-math7-eigen3-dev,
               libignition-msgs9-dev,
               libignition-plugin-dev,
               libignition-physics6-dev,
               libignition-sensors7-dev,
               libignition-rendering7-dev,
               libignition-transport12-log-dev,
               libignition-utils1-cli-dev,
               libignition-utils1-dev,
               libsdformat13-dev,
               python3-dev,
               python3-pybind11
Vcs-Browser: https://github.com/ignitionrobotics/ignition-gazebo
Vcs-Git: https://github.com/ignition-release/ign-gazebo7-release
Standards-Version: 4.5.1
Homepage: http://ignitionrobotics.org/

Package: libignition-gazebo7
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qml-module-qtqml-models2
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Shared library
 Ignition Gazebo is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Main shared library

Package: libignition-gazebo7-plugins
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Plugins
 Ignition Gazebo is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Plugins collection

Package: libignition-gazebo7-dev
Architecture: any
Section: libdevel
Depends: libtinyxml2-dev,
         libignition-tools-dev,
         libignition-cmake2-dev (>= 2.8.0),
         libignition-common5-av-dev,
         libignition-common5-profiler-dev,
         libignition-common5-events-dev,
         libignition-fuel-tools8-dev,
         libignition-gui7-dev,
         libignition-math7-dev,
         libignition-math7-eigen3-dev,
         libignition-msgs9-dev,
         libignition-plugin-dev,
         libignition-physics6-dev,
         libignition-sensors7-dev,
         libignition-rendering7-dev,
         libignition-transport12-log-dev,
         libignition-utils1-cli-dev,
         libignition-utils1-dev,
         libsdformat13-dev,
         libignition-gazebo7 (= ${binary:Version}),
         libignition-gazebo7-plugins (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Development files
 Ignition Gazebo is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files

Package: python3-ignition-gazebo7
Architecture: any
Depends: libignition-gazebo7 (= ${binary:Version}),
         python3-distutils,
         python3-pybind11,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
Enhances: libignition-gazebo6
Description: Ignition Gazebo classes and functions for robot apps - Development files
 Ignition Gazebo is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 The package contains the Python3 bindings.

Package: libignition-gazebo7-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-gazebo7 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Debug symbols
 Ignition Gazebo is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Debug symbols
