Source: ignition-gazebo4
Standards-Version: 3.9.8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               doxygen,
               pkg-config,
               debhelper (>= 9),
               libtinyxml2-dev,
               libignition-tools-dev,
               libignition-cmake2-dev,
               libignition-common3-av-dev (>= 3.5.0),
               libignition-common3-profiler-dev (>= 3.5.0),
               libignition-common3-events-dev (>= 3.5.0),
               libignition-fuel-tools5-dev,
               libignition-gui4-dev,
               libignition-math6-dev (>= 6.6.0),
               libignition-math6-eigen3-dev (>= 6.6.0),
               libignition-msgs6-dev,
               libignition-plugin-dev,
               libignition-physics3-dev,
               libignition-sensors4-dev,
               libignition-rendering4-dev,
               libignition-transport9-log-dev,
               libsdformat10-dev
Vcs-Browser: https://github.com/ignition-release/ign-gazebo4-release
Vcs-Git: https://github.com/ignition-release/ign-gazebo4-release
Homepage: http://ignitionrobotics.org/

Package: libignition-gazebo4
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qml-module-qtqml-models2
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Shared library
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Main shared library

Package: libignition-gazebo4-plugins
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Plugins
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Plugins collection

Package: libignition-gazebo4-dev
Architecture: any
Section: libdevel
Depends: libtinyxml2-dev,
         libignition-tools-dev,
         libignition-cmake2-dev,
         libignition-common3-av-dev (>= 3.5.0),
         libignition-common3-profiler-dev (>= 3.5.0),
         libignition-common3-events-dev (>= 3.5.0),
         libignition-fuel-tools5-dev,
         libignition-gui4-dev,
         libignition-math6-dev (>= 6.6.0),
         libignition-math6-eigen3-dev (>= 6.6.0),
         libignition-msgs6-dev,
         libignition-plugin-dev,
         libignition-physics3-dev,
         libignition-sensors4-dev,
         libignition-rendering4-dev,
         libignition-transport9-log-dev,
         libsdformat10-dev,
         libignition-gazebo4 (= ${binary:Version}),
         libignition-gazebo4-plugins (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Development files
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files

Package: libignition-gazebo4-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-gazebo4 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Debug symbols
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Debug symbols
