Source: ignition-gazebo7
Standards-Version: 3.9.8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               doxygen,
               pkg-config,
               debhelper (>= 9),
               libtinyxml2-dev,
               libignition-tools-dev,
               libignition-cmake2-dev (>= 2.8.0),
               libignition-common5-av-dev (>= 4.2.0),
               libignition-common5-profiler-dev (>= 4.2.0),
               libignition-common5-events-dev (>= 4.2.0),
               libignition-fuel-tools8-dev,
               libignition-gui7-dev,
               libignition-math7-dev (>= 6.9.0),
               libignition-math7-eigen3-dev (>= 6.9.0),
               libignition-msgs9-dev,
               libignition-plugin-dev,
               libignition-physics6-dev,
               libignition-sensors7-dev,
               libignition-rendering7-dev,
               libignition-transport12-log-dev,
               libignition-utils1-cli-dev,
               libignition-utils1-dev,
               libsdformat13-dev
Vcs-Browser: https://github.com/ignition-release/ign-gazebo7-release
Vcs-Git: https://github.com/ignition-release/ign-gazebo7-release
Homepage: http://ignitionrobotics.org/

Package: libignition-gazebo7
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qml-module-qtqml-models2
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Shared library
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Main shared library

Package: libignition-gazebo7-plugins
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Plugins
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Plugins collection

Package: libignition-gazebo7-dev
Architecture: any
Section: libdevel
Depends: libtinyxml2-dev,
         libignition-tools-dev,
         libignition-cmake2-dev (>= 2.8.0),
         libignition-common5-av-dev (>= 4.2.0),
         libignition-common5-profiler-dev (>= 4.2.0),
         libignition-common5-events-dev (>= 4.2.0),
         libignition-fuel-tools8-dev,
         libignition-gui7-dev,
         libignition-math7-dev (>= 6.9.0),
         libignition-math7-eigen3-dev (>= 6.9.0),
         libignition-msgs9-dev,
         libignition-plugin-dev,
         libignition-physics6-dev,
         libignition-sensors7-dev,
         libignition-rendering7-dev,
         libignition-transport12-log-dev,
         libignition-utils1-cli-dev,
         libignition-utils1-dev,
         libsdformat13-dev,
         libignition-gazebo7 (= ${binary:Version}),
         libignition-gazebo7-plugins (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Development files
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files

Package: libignition-gazebo7-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-gazebo7 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Gazebo classes and functions for robot apps - Debug symbols
  Ignition Gazebo is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Debug symbols
